.mdc-form-field {
    margin-bottom: 20px;
    width: 100%;
}
.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
#list_trips {
    height: 500px;
    overflow-y: scroll;
}
.mdc-card {
    padding: 2%;
    margin-bottom: 20px;
}